@import "antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .anticon svg {
  height: 1.5em;
  width: 1.5em;
} */
.ant-table-thead > tr > th {
  background-color: #66b366;
  font-size: 18px;
}
.ant-table-container table > thead > {
  border-radius: "20px";
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #e9fdec;
}
